@page
@model MyRazorApp.Pages.AboutModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Sobre</h1>
        <partial name="Shared/NavMenuPartial" />
          
    </body>
    </html>