@page
@model MyRazorApp.Pages.IndexModel


<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>

        <div>

        @foreach (var item:Category in Model.Categories){
            
        }

        </div>
    
    </body>
    </html>
