@page
@model MyRazorApp.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>

        <div>
            <partial name="Shared/NavMenuPartial"/>


            <h1>Categorias</h1>
            <table>
                <tehad>
                   <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Price</td>
                   </tr>
                </tehad>
                <tbody>
                    
                @foreach (var category in Model.Categories) {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.Price.ToString(format:"C")</td>
                    </tr>
                }
                </tbody>
            </table>  


        </div>
    
    </body>
    </html>
