@page
@model MyRazorApp.Pages.loginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
        <partial name="Shared/NavMenuPartial" />
        </div>
    </body>
    </html>